{% extends 'base.html.twig' %}

{% block title %}Qui Sommes Nous ?{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('CSS/QuiSommesNous.css')}}">{% endblock %}

{% block body %}
    <h1>Qui sommes nous ?</h1>
    <hr>
    <div class="QSNColonne">
        <div class="QSNLigne">
            <div class="DivTexte">
                <h2>L'Équipe</h2>
                <hr>
                <p>
                    Ullamco ut cillum ea amet in ea fugiat commodo in officia velit id sunt. 
                    Nulla non laborum culpa amet deserunt non deserunt. 
                    Sunt magna id minim id exercitation tempor enim excepteur.

                    Cupidatat aliqua consequat nulla anim et. 
                    Laborum fugiat officia officia esse consequat ut eiusmod esse Lorem consequat aute laborum aliquip. 
                    In pariatur enim reprehenderit elit eu labore officia laborum nulla duis Lorem. 
                    Consectetur quis cupidatat sunt irure id.

                    Nostrud deserunt proident qui qui. 
                    Cillum est enim enim nostrud nisi Lorem irure tempor eiusmod amet irure. 
                    Ut tempor aliquip culpa laborum adipisicing ad duis nostrud id. 
                    Ad duis cupidatat velit cupidatat culpa aute nulla ut ex occaecat ex magna duis nisi. 
                    In exercitation deserunt voluptate pariatur anim consequat irure esse eu laboris cillum non. 
                    Pariatur quis qui et pariatur deserunt et reprehenderit dolore mollit. 
                    Reprehenderit ullamco non culpa incididunt incididunt tempor ullamco est ut qui ipsum cillum.

                    Proident amet velit excepteur ullamco esse nisi excepteur culpa occaecat dolore aliquip aliqua qui. 
                    Amet qui sint et ad elit duis minim. Ullamco nisi in eiusmod ea irure.

                    Duis aliquip deserunt velit excepteur deserunt sit nulla fugiat. 
                    Eiusmod nulla esse ullamco dolore commodo reprehenderit qui. 
                    Ex ea aliquip et quis ex elit sunt commodo aute.
                </p>
            </div>
            <div class="DivImages">
                <img src="{{asset('IMG/pexels-fauxels-3184418.jpg')}}" alt="L'équipe">
            </div>
        </div>
        <div class="QSNLigne">
            <div class="DivImages">
                <img src="{{asset('IMG/pexels-valeriia-miller-2610300.jpg')}}" alt="Les Origines du Site">
            </div>
            <div class="DivTexte">
                <h2>Les Origines du Site</h2>
                <hr>
                <p>
                    
                    Ullamco ut cillum ea amet in ea fugiat commodo in officia velit id sunt. 
                    Nulla non laborum culpa amet deserunt non deserunt. 
                    Sunt magna id minim id exercitation tempor enim excepteur.

                    Cupidatat aliqua consequat nulla anim et. 
                    Laborum fugiat officia officia esse consequat ut eiusmod esse Lorem consequat aute laborum aliquip. 
                    In pariatur enim reprehenderit elit eu labore officia laborum nulla duis Lorem. 
                    Consectetur quis cupidatat sunt irure id.

                    Nostrud deserunt proident qui qui. 
                    Cillum est enim enim nostrud nisi Lorem irure tempor eiusmod amet irure. 
                    Ut tempor aliquip culpa laborum adipisicing ad duis nostrud id. 
                    Ad duis cupidatat velit cupidatat culpa aute nulla ut ex occaecat ex magna duis nisi. 
                    In exercitation deserunt voluptate pariatur anim consequat irure esse eu laboris cillum non. 
                    Pariatur quis qui et pariatur deserunt et reprehenderit dolore mollit. 
                    Reprehenderit ullamco non culpa incididunt incididunt tempor ullamco est ut qui ipsum cillum.

                    Proident amet velit excepteur ullamco esse nisi excepteur culpa occaecat dolore aliquip aliqua qui. 
                    Amet qui sint et ad elit duis minim. Ullamco nisi in eiusmod ea irure.

                    Duis aliquip deserunt velit excepteur deserunt sit nulla fugiat. 
                    Eiusmod nulla esse ullamco dolore commodo reprehenderit qui. 
                    Ex ea aliquip et quis ex elit sunt commodo aute.
                </p>
            </div>
        </div>
        <div class="QSNLigne">
            <div class="DivTexte">
                <h2>Nos Convictions</h2>
                <hr>
                <p>
                    
                    Ullamco ut cillum ea amet in ea fugiat commodo in officia velit id sunt. 
                    Nulla non laborum culpa amet deserunt non deserunt. 
                    Sunt magna id minim id exercitation tempor enim excepteur.

                    Cupidatat aliqua consequat nulla anim et. 
                    Laborum fugiat officia officia esse consequat ut eiusmod esse Lorem consequat aute laborum aliquip. 
                    In pariatur enim reprehenderit elit eu labore officia laborum nulla duis Lorem. 
                    Consectetur quis cupidatat sunt irure id.

                    Nostrud deserunt proident qui qui. 
                    Cillum est enim enim nostrud nisi Lorem irure tempor eiusmod amet irure. 
                    Ut tempor aliquip culpa laborum adipisicing ad duis nostrud id. 
                    Ad duis cupidatat velit cupidatat culpa aute nulla ut ex occaecat ex magna duis nisi. 
                    In exercitation deserunt voluptate pariatur anim consequat irure esse eu laboris cillum non. 
                    Pariatur quis qui et pariatur deserunt et reprehenderit dolore mollit. 
                    Reprehenderit ullamco non culpa incididunt incididunt tempor ullamco est ut qui ipsum cillum.

                    Proident amet velit excepteur ullamco esse nisi excepteur culpa occaecat dolore aliquip aliqua qui. 
                    Amet qui sint et ad elit duis minim. Ullamco nisi in eiusmod ea irure.

                    Duis aliquip deserunt velit excepteur deserunt sit nulla fugiat. 
                    Eiusmod nulla esse ullamco dolore commodo reprehenderit qui. 
                    Ex ea aliquip et quis ex elit sunt commodo aute.
                </p>
            </div>
            <div class="DivImages">
                <img src="{{asset('IMG/pexels-andrea-piacquadio-3761509.jpg')}}" alt="Nos Convictions">
            </div>
        </div>
    </div>
{% endblock %}
