{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Qui sommes nous ?</h1>
    <p>
        Vous êtes passionné par l'histoire et la numismatique ? Vous rêvez de découvrir des pièces anciennes et de les identifier ? Alors, ce site web est fait pour vous !
        Sur ce site, vous trouverez des conseils et des astuces pour vous initier à la prospection de monnaie ancienne, que ce soit avec un détecteur de métaux, une pelle ou vos mains. Vous apprendrez comment choisir votre matériel, où chercher, comment nettoyer et conserver vos trouvailles, et comment les dater et les classer. Vous pourrez aussi partager vos expériences et vos questions avec d'autres passionnés sur le forum.
        N'attendez plus, rejoignez la communauté des prospecteurs de monnaie ancienne et partez à la recherche de trésors cachés !
    </p>
{% endblock %}
