
/* IMPORTATION DES VARIABLE DE STYLE */

    @import "./Style";

/* HTML */

    /* MAIN */

        main{
            @include colonneCentre();
            border-bottom: 3px solid $couleur3;
        }

        /* EN TÊTE COMPTE */

            h1{
                color: $couleur1;
            }

        /* CORP COMPTE */

            .ContenuCompte{
                width: 100%;
                height: 100%;
                min-height: 62vh;
                background-color: $couleur2;
                color: $couleur1;
                @include colonne();
                @include alignement(flex-start, flex-start, flex-start);
            }

            h2{
                font-weight: normal;
            }

            /* PROFIL */

                .GroupeProfil{
                    width: 90%;
                    height: 100%;
                    margin: 20px 5%;
                }

                .LigneProfil{
                    @include ligne();
                    align-items: center;
                    width: 100%;
                }
    
                .ColonneProfil{
                    margin-left: 2%;
                    @include colonne();
                    @include alignement(flex-start, flex-start, flex-start);
                    p{
                        margin-top: 0;
                    }
                }

                .PPProfil{
                    width: 200px;
                    height: 200px;
                    margin: 20px 75px 20px 0;
                    border: 4px solid $couleur3;
                    border-radius: 100%;
                    overflow: hidden;
                    @include colonneCentre();
                    background-color: $couleur1;
                }

                hr{
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid $couleur1;
                }

                .PseudoProfil{
                    font-size: 30px;
                }
            
            /* FAVORIS */

                .GroupeListeFavoris{
                    width: 100vw;
                }

                .TableauListeFavoris{
                    width: 100vw;
                    margin: 50px 0;
                    background-color: $couleur3;
                }

                .CatégoriesListeFavoris{
                    @include ligne();
                    @include alignement(center, space-between, center);
                }

                .Ordre img{
                    cursor: grab;
                    -webkit-user-drag: none;
                }

                .Ordre, .Limite, .Supprimer{
                    margin: 0;
                    padding: 1%;
                    width: 10%;
                    @include colonneCentre();
                    img{
                        width: auto;
                        height: 25px;
                    }
                    a{
                        @include ligne();
                        height: fit-content;
                        width: fit-content;
                    }
                }
                .Information{
                    margin: 0;
                    padding: 1%;
                    width: 100%;
                    @include ligne();
                    @include alignement(center, space-evenly, center);
                    .Departement{
                        width: 5%;
                        margin: 1%;
                    }
                    .Commune, .LieuxDit, .Interet{
                        width: 29%;
                        margin: 1%;
                    }
                }

                .ListeFavoris{
                    background-color: $couleur1;
                    color: $couleur3;
                    @include ligneCentre();
                }

                .grabbing{
                    background-color: $couleur4;
                }

            /* DISCUSSIONS ACHATS */

                .indisponible{
                    width: 100%;
                    height: 62vh;
                    @include colonneCentre();
                }

            /* PARAMÈTRES */
    
                .ContenuParametres{
                    width: 80%;
                    min-height: 75vh;
                    padding: 20px;
                    @include colonne();
                    align-items: center;
                }

                /* MODIFICATION COMPTE */

                    /* FORM */

                        form{
                            width: 100%;
                            @include ligne();
                            justify-content: space-around;
                            flex-wrap: wrap;
                        }

                        .NonDecaleLabel{
                            width: 275px;
                            text-align: start;
                            color: $couleur1;
                            transform: translate(-20px) scale(0.9);
                        }

                        .StyleInput{
                            background-color: $couleur1;
                            border: none;
                            height: 30px;
                            width: 300px;
                            padding: 1px;
                            padding-left: 5px;
                            @include colonne();
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 10px;
                            &:focus-visible{
                                outline-color: $couleur3;
                            }
                        }

                        .DivBlocColonne{
                            @include colonne();
                            align-items: center;
                            width: 65%;
                        }

                        /* PP */

                            .DivPP{
                                @include colonneCentre();
                                input{
                                    opacity: 0;
                                    z-index: -1;
                                    position: absolute;
                                    margin: 0;
                                    padding: 0;
                                    height: 320px;
                                    width: 320px;
                                }
                                .LabelPP{
                                    height: 320px;
                                    width: 320px;
                                    @include colonneCentre();
                                    position: absolute;
                                    z-index: 1;
                                    background-color: rgba(0, 0, 0, 0.5);
                                    opacity: 0;
                                    &:hover{
                                        opacity: 1;
                                    }
                                }
                            }

                            /* APERCU */
                            
                                #Apercu{
                                    width: 320px;
                                    height: 320px;
                                    @include colonneCentre();
                                    overflow: hidden;
                                }

                                #PPSurplus, #Cercle1{
                                    position: absolute;
                                }

                                #Cercle1{
                                    width: 315px;
                                    height: 315px;
                                    border: 4px dashed $couleur1;
                                    border-radius: 100%;
                                }

                        /* NOM PRÉNOM */

                            .DivColonne{
                                @include colonneCentre();
                                margin: 0 10px;
                                .DecalerLabel{
                                    width: 275px;
                                }
                            }

                            .DivInputLigne{
                                width: 100%;
                                @include ligne();
                                justify-content: center;
                                flex-wrap: wrap;
                            }

                            .StyleInputNomPrenom{
                                background-color: $couleur1;
                                border: none;
                                height: 30px;
                                width: 300px;
                                padding: 1px;
                                padding-left: 5px;
                                @include colonne();
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 10px;
                            }

                            select{
                                @extend .StyleInput;
                                padding: 7px;
                                width: 305px;
                            }

                            #utilisateur_form_datedenaissance{
                                flex-direction: row;
                            }

                            .SexeLabel{
                                color: $couleur1;
                            }

                        /* GROUPE BOUTONS */

                            .BoutonsEtapes{
                                background-color: $couleur3;
                                color: $couleur1;
                                border: none;
                                height: 30px;
                                width: 175px;
                                margin: 20px 40%;
                                padding: 1px;
                                padding-left: 5px;
                                @include colonne();
                                align-items: center;
                                justify-content: center;
                                &:hover{
                                    background-color: $couleur1;
                                    color: $couleur3;
                                }
                            }

                            .form_non_valide{
                                background-color: $couleur4;
                                color: $couleur1;
                                &:hover{
                                    background-color: $couleur4;
                                    color: $couleur1;
                                }
                            }

                /* SUPPRESSION COMPTE */

                    .ButtonSupprimer{
                        background-color: $couleur3;
                        color: $couleur1;
                        width: 40px;
                        border-radius: 10%;
                        padding: 5px 20px;
                        text-decoration: none;
                        &:hover{
                            cursor: pointer;
                            background-color: $couleur2;
                        }
                    }
                    
                    .Hide{
                        display: none;
                    }
                    
    @media (min-width: 350px) {
        
        @media (min-width: 450px) {

            .Ligne{
                @include ligneCentre();
                width: 100%;
                a{
                    background-color: $couleur3;
                    color: $couleur1;
                    font-size: 20px;
                    text-decoration: none;
                    padding: 20px;
                    width: 100%;
                    border-bottom: 1px solid $couleur1;
                    &:hover{
                        background-color: $couleur2;
                        border-bottom: 1px solid $couleur2;
                    }
                }
                .SelectedPage{
                    background-color: $couleur2;
                    border-bottom: 1px solid $couleur2;
                }
            }

            .GroupeParametres{
                height: 100%;
                width: 100%;
                @include ligne();
            }

            .MenuParametres{
                @include colonne();
                width: 20%;
                min-height: 75vh;
                background-color: $couleur3;
                overflow-wrap: break-word;
                a{
                    background-color: $couleur3;
                    color: $couleur1;
                    font-size: 20px;
                    text-decoration: none;
                    padding: 20px;
                    width: auto;
                    height: fit-content;
                    border-right: 1px solid $couleur1;
                    &:hover{
                        background-color: $couleur2;
                        border-right: 1px solid $couleur2;
                    }
                }
                .SelectedPage{
                    background-color: $couleur2;
                    border-right: 1px solid $couleur2;
                }
            }

        }
    }

    @media (max-width: 450px) {
        
        .GroupeParametres{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media (max-width: 350px) {
            
        .GroupeParametres{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }