
/* IMPORTATION DES VARIABLE DE STYLE */

    @import "./Style.scss";
    
/* HTML */

    body{
        background-image: url("../IMG/pexels-cosmin-gavris-12683080.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom;
    }

    /* MAIN */

        main{
            width: 80%;
            min-height: 43vh;
            background-color: $couleur4 + AA;
            margin: 20vh auto;
            @include colonneCentre();
        }

        /* TITRE ET ÉTAPES */

            /* TITRE ET HR */

                h2{
                    margin-bottom: 0;
                    font-size: 50px;
                    color: $couleur1;
                }

                hr{
                    border-color: $couleur1;
                    width: 90%;
                }

        /* FORM */

            form{
                width: 90%;
                padding-bottom: 20px;
            }

            .DivFormulaireGroupe{
                @include colonneCentre();
            }

            .DecalerLabel{
                width: 275px;
                text-align: start;
                color: $couleur3;
                position: relative;
                top: 25px;
                left: 0;
            }

            /* GROUPE 1 */

                /* EMAIL */

                    .StyleInput{
                        background-color: $couleur1;
                        border: none;
                        height: 30px;
                        width: 300px;
                        padding: 1px;
                        padding-left: 5px;
                        @include colonne();
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        &:focus-visible{
                            outline-color: $couleur3;
                        }
                    }

                /* MOT DE PASSE ET CONFIRMATION */

                    .AlignementMotDePasse{
                        @include ligneCentre();
                    }

                    .StyleMotDePasse{
                        background-color: $couleur1;
                        border: none;
                        height: 30px;
                        width: 250px;
                        padding: 1px;
                        padding-left: 5px;
                        @include colonne();
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        &:focus-visible{
                            outline-color: $couleur3;
                        }
                    }

                    .AffichageMotDePasse{
                        background-color: $couleur1;
                        border: none;
                        height: 30px;
                        width: 48px;
                        padding: 1px;
                        @include colonne();
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        img{
                            height: 13px;
                            width: auto;
                        }
                        #CacherMotDePasse{
                            display: none;
                        }
                        #CacherConfirmationMotDePasse{
                            display: none;
                        }
                    }

                    .StyleCheckboxInput{
                        mix-blend-mode: color-burn;
                        &:checked{
                            mix-blend-mode: luminosity;
                        }
                    }

                    .StyleCheckboxLabel{
                        color: $couleur1;
                        margin: 15px;
                    }

            /* GROUPE BOUTONS */

                #DivBoutonsEtapes{
                    @include ligne();
                    justify-content: space-evenly;
                }

                #BoutonValider{
                    background-color: $couleur3;
                    color: $couleur1;
                    border: none;
                    height: 30px;
                    width: 175px;
                    padding: 1px;
                    padding-left: 5px;
                    @include colonne();
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
                    &:hover{
                        background-color: $couleur1;
                        color: $couleur3;
                    }
                }

                .LienOubli{
                    width: 275px;
                    text-align: start;
                    color: $couleur1;
                    &:hover{
                        color: $couleur3;
                    }
                }

                .LienRedirection{
                    color: $couleur1;
                    a{
                        color: $couleur1;
                        &:hover{
                            color: $couleur3;
                        }
                    }
                }