
/* IMPORTATION DES VARIABLE DE STYLE */

    @import "./Style";

/* HTML */

    /* MAIN */

        main{
            @include colonneCentre();
            min-height: 84vh;
        }

        /* CORP SITE */
                    
            .Hide{
                display: none;
            }

            h1{
                color: $couleur1;
            }

            /* HOME */

                .GroupeGroupeHome{
                    width: 100%;
                    min-height: 62vh;
                    @include colonneCentre();
                }

                .GroupeHome{
                    width: 100%;
                    height: 92vh;
                    overflow: hidden;
                    @include ligneCentre();
                }

                #GroupeHero{
                    width: 100%;
                    height: fit-content;
                    max-height: 92vh;
                    overflow: hidden;
                    @include ligneCentre();
                }

                .Hero{
                    height: auto;
                    width: 100%;
                }

                .LOFP{
                    position: absolute;
                    color: $couleur1;
                }

                h2{
                    color: $couleur1;
                }

                #GroupeSitesTemporaire{
                    width: 90%;
                    padding: 5%;
                    overflow: hidden;
                    @include colonneCentre();
                    > h2{
                        margin: 0;
                        margin-top: 25px;
                        > a{
                            color: $couleur1;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .GroupeCard{
                    width: 100%;
                    margin: 64px;
                    @include ligneCentre();
                    flex-wrap: wrap;
                }

                /* CARD SITE */

                    .CardSite{
                        min-width: 200px;
                        width: 20vw;
                        margin: 15px;
                        border-radius: 10px;
                        padding: 10px;
                        background-color: $couleur2;
                        color: $couleur1;
                        @include colonneCentre();
                        h2{
                            margin: 0 auto;
                            font-size: 30px;
                            font-weight: normal;
                        }
                    }

                    .TimerBoutonsFavori{
                        width: 100%;
                        @include ligne();
                        @include alignement(center, space-between, center);
                    }

                    .BoutonsFavori{
                        width: 100%;
                        @include ligne();
                        @include alignement(center, flex-end, center);
                    }

                    .LiensFavori{
                        padding: 5px;
                        text-decoration: none;
                    }

                    #AjoutFavori > #CoeurPlein, #SuppressionFavori > #CoeurVide{
                        display: none;
                    }

                    #AjoutFavori > #CoeurVide, #SuppressionFavori > #CoeurPlein{
                        display: flex;
                    }

                    #AjoutFavori:hover{
                        #CoeurVide{
                            display: none;
                        }
                        #CoeurPlein{
                            display: flex;
                        }
                    }

                    #SuppressionFavori:hover{
                        #CoeurVide{
                            display: flex;
                        }
                        #CoeurPlein{
                            display: none;
                        }
                    }

                    .IconesFavoris{
                        height: 30px;
                        width: auto;
                    }

                    hr{
                        width: 100%;
                        border: 0;
                        border-bottom: 1px solid $couleur1;
                    }

                    .BoutonsEtapes{
                        height: 30px;
                        width: 100px;
                        margin: 10px;
                        margin-bottom: 0;
                        border: none;
                        border-radius: 10px;
                        padding: 5px 10px;
                        background-color: $couleur3;
                        color: $couleur1;
                        @include ligneCentre();
                        text-decoration: none;
                        &:hover{
                            background-color: $couleur1;
                            color: $couleur3;
                        }
                    }

                    .Limited{
                        margin: 0 15px;
                        color: $couleur3;
                    }

                    .Titre{
                        margin-top: 64px;
                        margin-bottom: 0;
                    }