@charset "UTF-8";
/* IMPORTATION DES VARIABLE DE STYLE */
/* ALL */
* {
  border-collapse: collapse;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

/* COULEURS */
/* MIXIN */
/**
* @description alignement des flex
*
* @param string $itemAlign alignement de manière parrallèle à la direction voulu
* @param string $justifyContent alignement de manière perpendiculaire à la direction voulu
* @param string $textAlign alignement du texte de manière horizontale
* 
* @return align-items: $itemAlign; justify-content: $justifyContent; text-align: $textAlign;
*/
/* HTML */
/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 84vh;
}

/* CORP SITE */
h1 {
  color: #F2E3B3;
}

/* HOME */
.GroupeHome {
  width: 100%;
  min-height: 62vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  color: #F2E3B3;
}

/* HERO */
#GroupeHero {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 92vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Hero {
  height: auto;
  width: 100%;
}

.LOFP {
  position: absolute;
  color: #F2E3B3;
}

/* ACTUALITÉS */
.GroupeActualite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 92vh;
  overflow: hidden;
}

#Carroussel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.ActualiteH2 {
  position: absolute;
  align-self: flex-start;
  left: 0;
  z-index: 3;
  background-color: #BF9B7AAA;
  margin: 0;
  padding: 16px;
}
.ActualiteH2 a {
  text-decoration: none;
  color: #F2E3B3;
}
.ActualiteH2 a:hover {
  text-decoration: underline;
}

.BlocActualite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.BlocActualite:hover .ImageActu {
  transform: scale(1.5);
}
.BlocActualite:hover .TitreActualite {
  opacity: 1;
}

.ImageActu {
  width: 100vw;
  height: auto;
  transition: transform 1s;
}

.TitreActualite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  position: absolute;
  z-index: 1;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #735645AA;
  color: #F2E3B3;
  opacity: 0;
  transition: opacity 1s;
}

.FlecheActualite {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 25vw;
  width: 10%;
  position: absolute;
  z-index: 2;
  background-color: #735645AA;
  opacity: 0;
  transition: opacity 1s;
}
.FlecheActualite:hover {
  opacity: 1;
}
.FlecheActualite img {
  padding: 10px;
  max-width: 30px;
  width: 25%;
}

#FlecheGauche {
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  left: 0;
}

#FlecheDroite {
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  right: 0;
}

.BoutonSelectionActualite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  position: absolute;
  z-index: 2;
  align-self: flex-end;
}

.BoutonActualite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3vh;
  width: 3vh;
  margin: 5px;
  border-radius: 100%;
  background-color: #F2E3B3;
}
.BoutonActualite:hover {
  background-color: #735645;
}
.BoutonActualite:hover .Selectionne {
  height: 1vh;
  width: 1vh;
  background-color: #F2E3B3;
}
.BoutonActualite:hover .PasSelectionne {
  height: 1vh;
  width: 1vh;
}

.Selectionne {
  height: 2vh;
  width: 2vh;
  border-radius: 100%;
  background-color: #735645;
}

.PasSelectionne {
  width: 0;
  height: 0;
  border-radius: 100%;
  background-color: #F2E3B3;
}

/* CARD SITE */
#GroupeSitesTemporaire {
  width: 90%;
  padding: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#GroupeSitesTemporaire > h2 {
  margin: 0;
  margin-top: 25px;
}
#GroupeSitesTemporaire > h2 > a {
  color: #F2E3B3;
  text-decoration: none;
}
#GroupeSitesTemporaire > h2 > a:hover {
  text-decoration: underline;
}

.GroupeCard {
  width: 100%;
  margin: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.CardSite {
  min-width: 200px;
  width: 20vw;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: #BF9B7A;
  color: #F2E3B3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.CardSite h2 {
  margin: 0 auto;
  font-size: 30px;
  font-weight: normal;
}

.TimerBoutonsFavori {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.BoutonsFavori {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.LiensFavori {
  padding: 5px;
  text-decoration: none;
}

#AjoutFavori > #CoeurPlein, #SuppressionFavori > #CoeurVide {
  display: none;
}

#AjoutFavori > #CoeurVide, #SuppressionFavori > #CoeurPlein {
  display: flex;
}

#AjoutFavori:hover #CoeurVide {
  display: none;
}
#AjoutFavori:hover #CoeurPlein {
  display: flex;
}

#SuppressionFavori:hover #CoeurVide {
  display: flex;
}
#SuppressionFavori:hover #CoeurPlein {
  display: none;
}

.IconesFavoris {
  height: 30px;
  width: auto;
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #F2E3B3;
}

.BoutonsEtapes {
  height: 30px;
  width: 100px;
  margin: 10px;
  margin-bottom: 0;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #735645;
  color: #F2E3B3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
.BoutonsEtapes:hover {
  background-color: #F2E3B3;
  color: #735645;
}

.Limited {
  margin: 0 15px;
  color: #735645;
}

.Titre {
  margin-top: 64px;
  margin-bottom: 0;
}

.Hide {
  display: none;
}/*# sourceMappingURL=Home.css.map */