@charset "UTF-8";
/* IMPORTATION DES VARIABLE DE STYLE */
/* ALL */
* {
  border-collapse: collapse;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

/* COULEURS */
/* MIXIN */
/**
* @description alignement des flex
*
* @param string $itemAlign alignement de manière parrallèle à la direction voulu
* @param string $justifyContent alignement de manière perpendiculaire à la direction voulu
* @param string $textAlign alignement du texte de manière horizontale
* 
* @return align-items: $itemAlign; justify-content: $justifyContent; text-align: $textAlign;
*/
/* HTML */
body {
  background-image: url("../IMG/pexels-juanjo-menta-17871360.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

/* MAIN */
main {
  width: 80%;
  background-color: #BF7C63AA;
  margin: 11vh auto;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* TITRE ET ÉTAPES */
/* TITRE ET HR */
h2 {
  margin-bottom: 0;
  font-size: 50px;
  color: #F2E3B3;
}

hr {
  border: 1px solid #F2E3B3;
  width: 90%;
}

/* ÉTAPES */
#DivListeEtapes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
}

.Etapes {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #735645;
  color: #F2E3B3;
}

#Etape1 {
  background-color: #F2E3B3;
  color: #735645;
}

/* FORM */
form {
  width: 90%;
  padding-bottom: 20px;
}

.DivFormulaireGroupe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h3 {
  color: #F2E3B3;
  font-size: 30px;
  margin: 0;
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  text-underline-position: from-font;
}

.DecalerLabel {
  width: 275px;
  text-align: start;
  color: #735645;
  position: relative;
  top: 25px;
  left: 0;
}

.NonDecaleLabel {
  width: 275px;
  text-align: start;
  color: #F2E3B3;
  position: relative;
  top: 25px;
  left: 0;
  transform: translate(-25px, -25px) scale(0.9);
}

/* GROUPE 1 */
/* EMAIL */
.StyleInput {
  background-color: #F2E3B3;
  border: none;
  height: 30px;
  width: 300px;
  padding: 1px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.StyleInput:focus-visible {
  outline-color: #735645;
}

/* MOT DE PASSE ET CONFIRMATION */
.AlignementMotDePasse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.StyleMotDePasse {
  background-color: #F2E3B3;
  border: none;
  height: 30px;
  width: 250px;
  padding: 1px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.StyleMotDePasse:focus-visible {
  outline-color: #735645;
}

.AffichageMotDePasse {
  background-color: #F2E3B3;
  border: none;
  height: 30px;
  width: 48px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #735645;
  font-size: smaller;
}
.AffichageMotDePasse img {
  height: 13px;
  width: auto;
}
.AffichageMotDePasse #CacherMotDePasse {
  display: none;
}
.AffichageMotDePasse #CacherConfirmationMotDePasse {
  display: none;
}

/* GROUPE 2 */
#Groupe2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* GROUPE BOUTONS */
#DivBoutonsEtapes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
}

.BoutonsEtapes {
  background-color: #735645;
  color: #F2E3B3;
  border: none;
  height: 30px;
  width: 175px;
  padding: 1px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.BoutonsEtapes:hover {
  background-color: #F2E3B3;
  color: #735645;
}

#oubli_form_precedent, #oubli_form_valider {
  display: none;
}

.form_non_valide {
  background-color: #BF7C63;
  color: #F2E3B3;
}
.form_non_valide:hover {
  background-color: #BF7C63;
  color: #F2E3B3;
}/*# sourceMappingURL=Oubli.css.map */