{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block javascripts %}<script src="{{asset('JS/Admin.js')}}"></script>{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('CSS/Admin.css')}}">{% endblock %}

{% block body %}
    <h1>Admin</h1>
    <div class="Ligne">
        <a href="/admin/compte/liste" {%    if app.request.get('_route') == "app_admin_compte_liste" 
                                            or app.request.get('_route') == "app_admin_compte_modifier" %}class="SelectedPage"{% endif %} >
            Compte
        </a>
        <a href="/admin/site/liste" {%  if app.request.get('_route') == "app_admin_site_liste"
                                        or app.request.get('_route') == "app_admin_site_ajouter"
                                        or app.request.get('_route') == "app_admin_site_modifier" %}class="SelectedPage"{% endif %} >
            Site
        </a>
        <a href="/admin/actualité/liste" {% if app.request.get('_route') == "app_admin_actualite_liste"
                                            or app.request.get('_route') == "app_admin_actualite_ajouter"
                                            or app.request.get('_route') == "app_admin_actualite_modifier" %}class="SelectedPage"{% endif %} >
            Actualité
        </a>
        <a href="/admin/achats/liste" {% if app.request.get('_route') == "app_admin_achats_liste" %}class="SelectedPage"{% endif %} >
            Achat
        </a>
    </div>
    <div class="ContenuAdmin">
        <div class="DivBoutonsAdmin">
            {% if app.request.get('_route') == "app_admin_compte_modifier" %}
                <a href="/admin/compte/liste" class="BoutonsAdmin">Retour à la liste des comptes</a>
            {% elseif app.request.get('_route') == "app_admin_site_liste" %}
                <a href="/admin/site/ajouter" class="BoutonsAdmin">Ajouter un site</a>
            {% elseif app.request.get('_route') == "app_admin_site_modifier" or app.request.get('_route') == "app_admin_site_ajouter" %}
                <a href="/admin/site/liste" class="BoutonsAdmin">Retour à la liste des sites</a>
            {% endif %} 
        </div>
        {% block admin %}{% endblock %}
    </div>
{% endblock %} 
