{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}
{% block javascripts %}<script src="{{asset('JS/Compte.js')}}"></script>{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('CSS/Compte.css')}}">{% endblock %}

{% block body %}
    <h1>Compte</h1>
    <div class="Ligne">
        <a href="/compte/profil" {% if app.request.get('_route') == "app_profil" %}class="SelectedPage"{% endif %} >
            Profil
        </a>
        <a href="/compte/favoris" {% if app.request.get('_route') == "app_favoris" %}class="SelectedPage"{% endif %} >
            Favoris
        </a>
        <a href="/compte/achats" {% if app.request.get('_route') == "app_achats" %}class="SelectedPage"{% endif %} >
            Achats
        </a>
        <a href="/compte/discussions" {% if app.request.get('_route') == "app_discussions" %}class="SelectedPage"{% endif %} >
            Discussions
        </a>
        <a href="/compte/parametres/index" {% if app.request.get('_route') == "app_parametre_index" %}class="SelectedPage"{% endif %} >
            Paramètres
        </a>
    </div>
    <div class="ContenuCompte">
        {% block compte %}{% endblock %}
    </div>
{% endblock %} 