{% extends 'admin/index.html.twig' %}

{% block admin %}
    <div id="GroupeListeAchats">
        {# <h2>Liste des Achats</h2> #}
        <div class="indisponible">
            <p>la section "achats" n'est pas disponible pour le moment</p>
        </div>
    </div>
{% endblock %}