{% extends 'compte/parametres/index.html.twig' %}

{% block parametres %}
    <div class="indisponible">
        <p>la section "accessiblilité" n'est pas disponible pour le moment</p>
    </div>
{% endblock %} 
