{% extends 'compte/compte.html.twig' %}

{% block compte %}
    <div class="GroupeParametres">
        <div class="MenuParametres">
            <a href="/compte/parametres/preference" {% if app.request.get('_route') == "app_preference" %}class="SelectedPage"{% endif %} >
                Préférences de recherche
            </a>
            <a href="/compte/parametres/accessibilite" {% if app.request.get('_route') == "app_accessibilite" %}class="SelectedPage"{% endif %} >
                Accessibilité
            </a>
            <a href="/compte/parametres/confidentialite" {% if app.request.get('_route') == "app_confidentialite" %}class="SelectedPage"{% endif %} >
                Confidentialité
            </a>
            <a href="/compte/parametres/modification/{{ app.user.id }}" {% if app.request.get('_route') == "app_modification_compte" %}class="SelectedPage"{% endif %} >
                Modification du Compte
            </a>
            <a onclick="message(true, '/compte/parametres/suppression/{{ app.user.id }}', 'Cette action est irréversible.<br>Voulez-vous supprimer votre compte ?')">
                Supprimer le Compte
            </a>
        </div>
        <div class="ContenuParametres">
            {% block parametres %}{% endblock %}
        </div>
    </div>
{% endblock %} 
