
<!-- HTML -->  

    <!DOCTYPE html>
    <html>

        <!-- TÊTE DE PAGE -->

            <head>

                <!-- META -->

                    <meta http-equiv="content-type" content="text/html">
                    <meta charset="utf-8">
                    <meta lang="fr">
                    <meta name="author" content="Sandy DUMAS">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <meta http-equiv="pragma" content="no-cache">

                <!-- ICON -->

                    <link rel="icon" href="{{asset('IMG/Logo-Logo.svg')}}">

                <!-- TITLE -->

                    <title>ATTENTION!</title>

                <!-- JQUERY CDN -->

                    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

                <!-- JS -->

                    <script src="{{asset('JS/Loi.js')}}"></script>

                <!-- CSS -->

                    <link rel="stylesheet" href="{{asset('CSS/Loi.css')}}">

            </head>

        <!-- CORPS DE PAGE -->

            <body>
                <main>
                    <form method="post" action="/home">
                        <h2>
                            Article L 510-1 du Code du Patrimoine :
                        </h2>
                        <p>
                            Constituent des éléments du patrimoine archéologique tous les vestiges, biens et autres traces de l'existence de l'humanité, 
                            y compris le contexte dans lequel ils s'inscrivent, dont la sauvegarde et l'étude, notamment par des fouilles ou des découvertes, 
                            permettent de retracer le développement de l'histoire de l'humanité et de sa relation avec l'environnement naturel.
                        </p>
                        <h2>
                            Article L 531-1 du Code du Patrimoine :
                        </h2>
                        <p>
                            Nul ne peut effectuer sur un terrain lui appartenant ou appartenant à autrui des fouilles 
                            ou des sondages à l'effet de recherches de monuments ou d'objets pouvant intéresser la préhistoire, l'histoire, 
                            l'art ou l'archéologie, sans en avoir au préalable obtenu l'autorisation.
                            <br>
                            La demande d'autorisation doit être adressée à l'autorité administrative ; 
                            elle indique l'endroit exact, la portée générale et la durée approximative des travaux à entreprendre.
                            <br>
                            Dans le délai, fixé par voie réglementaire, qui suit cette demande et après avis de l'organisme scientifique consultatif compétent, 
                            l'autorité administrative accorde, s'il y a lieu, l'autorisation de fouiller. 
                            Elle fixe en même temps les prescriptions suivant lesquelles les recherches devront être réalisées.
                        </p>
                        <h2>
                            Article L 531-2 du Code du Patrimoine :
                        </h2>
                        <p>
                            Lorsque les fouilles doivent être réalisées sur un terrain n'appartenant pas à l'auteur de la demande d'autorisation, 
                            celui-ci doit joindre à sa demande le consentement écrit du propriétaire du terrain et, s'il y a lieu, de tout autre ayant droit.
                            <br>
                            Ce consentement ainsi que les stipulations des contrats passés afin de l'obtenir 
                            doivent tenir compte des dispositions de la présente section et ne peuvent faire obstacle à l'exercice des droits qu'il confère à l'Etat. 
                            Ils ne sauraient davantage être opposés à l'Etat ni entraîner sa mise en cause 
                            en cas de difficultés ultérieures entre l'auteur de la demande d'autorisation et des tiers.
                        </p>
                        <h2>
                            Article L 531-3 du Code du Patrimoine :
                        </h2>
                        <p>
                            Les fouilles doivent être réalisées par celui qui a demandé et obtenu l'autorisation de les entreprendre et sous sa responsabilité.
                            <br>
                            Elles s'exécutent conformément aux prescriptions imposées par la décision d'autorisation mentionnée à l'article L. 531-1 
                            et sous la surveillance d'un représentant de l'autorité administrative.
                            <br>
                            Toute découverte de caractère immobilier ou mobilier doit être conservée et immédiatement déclarée à ce représentant.
                        </p>
                        <h2>
                            Article L 531-14 du Code du Patrimoine :
                        </h2>
                        <p>
                            Lorsque, par suite de travaux ou d'un fait quelconque, des monuments, des ruines, substructions, mosaïques, 
                            éléments de canalisation antique, vestiges d'habitation ou de sépulture anciennes, 
                            des inscriptions ou généralement des objets pouvant intéresser la préhistoire, l'histoire, l'art, 
                            l'archéologie ou la numismatique sont mis au jour, l'inventeur de ces vestiges ou objets 
                            et le propriétaire de l'immeuble où ils ont été découverts sont tenus d'en faire la déclaration immédiate au maire de la commune, 
                            qui doit la transmettre sans délai au préfet. Celui-ci avise l'autorité administrative compétente en matière d'archéologie.
                            <br>
                            Si des objets trouvés ont été mis en garde chez un tiers, celui-ci doit faire la même déclaration.
                            <br>
                            Le propriétaire de l'immeuble est responsable de la conservation provisoire des monuments, 
                            substructions ou vestiges de caractère immobilier découverts sur ses terrains. 
                            Le dépositaire des objets assume à leur égard la même responsabilité.
                            <br>
                            L'autorité administrative peut faire visiter les lieux où les découvertes ont été faites 
                            ainsi que les locaux où les objets ont été déposés et prescrire toutes les mesures utiles pour leur conservation.
                        </p>
                        <h2>
                            Article L 531-15 du Code du Patrimoine :
                        </h2>
                        <p>
                            Si la continuation des recherches présente au point de vue de la préhistoire, de l'histoire, 
                            de l'art ou de l'archéologie un intérêt public, 
                            les fouilles ne peuvent être poursuivies que par l'Etat ou après autorisation de l'Etat, 
                            dans les conditions prévues au présent chapitre.
                            <br>
                            A titre provisoire, l'autorité administrative peut ordonner la suspension des recherches 
                            pour une durée de six mois à compter du jour de la notification.
                            <br>
                            Pendant ce temps, les terrains où les découvertes ont été faites sont considérés comme classés 
                            et tous les effets du classement leur sont applicables.
                        </p>
                        <h2>
                            Article L 541-4 du Code du Patrimoine :
                        </h2>
                        <p>
                            Les articles 552 et 716 du code civil 
                            ne sont pas applicables aux biens archéologiques mobiliers mis au jour à la suite d'opérations de fouilles archéologiques 
                            ou de découvertes fortuites réalisées sur des terrains dont la propriété a été acquise 
                            après la date d'entrée en vigueur de la loi n° 2016-925 du 7 juillet 2016 relative à la liberté de la création, 
                            à l'architecture et au patrimoine. 
                            Ces biens archéologiques mobiliers sont présumés appartenir à l'Etat dès leur mise au jour au cours d'une opération archéologique et, 
                            en cas de découverte fortuite, à compter de la reconnaissance de l'intérêt scientifique justifiant leur conservation.
                            <br>
                            Lors de la déclaration de la découverte fortuite qu'elle doit faire en application de l'article L. 531-14 du présent code, 
                            la personne déclarante est informée, par les services de l'Etat chargés de l'archéologie, 
                            de la procédure de reconnaissance de l'intérêt scientifique de l'objet susceptible d'être engagée. 
                            L'objet est placé sous la garde des services de l'Etat jusqu'à l'issue de la procédure.
                            <br>
                            La reconnaissance de l'intérêt scientifique de l'objet est constatée par un acte de l'autorité administrative, 
                            pris sur avis d'une commission d'experts scientifiques. 
                            L'autorité administrative se prononce au plus tard cinq ans après la déclaration de la découverte fortuite. 
                            La reconnaissance de l'intérêt scientifique de l'objet emporte son appropriation publique. 
                            Cette appropriation peut être contestée pour défaut d'intérêt scientifique de l'objet devant le juge administratif 
                            dans les délais réglementaires courant à compter de l'acte de reconnaissance.
                            <br>
                            Quel que soit le mode de découverte de l'objet, sa propriété publique, lorsqu'elle a été reconnue, 
                            peut être à tout moment contestée devant le juge judiciaire par la preuve d'un titre de propriété antérieur à la découverte.
                        </p>
                        <h2>
                            Article L 541-5 du Code du Patrimoine :
                        </h2>
                        <p>
                            Les biens archéologiques mobiliers mis au jour sur des terrains acquis avant la date d'entrée en vigueur 
                            de la loi n° 2016-925 du 7 juillet 2016 relative à la liberté de la création, 
                            à l'architecture et au patrimoine sont confiés, dans l'intérêt public, 
                            aux services de l'Etat chargés de l'archéologie pendant le délai nécessaire à leur étude scientifique, 
                            dont le terme ne peut excéder cinq ans.
                            <br>
                            L'Etat notifie leurs droits au propriétaire du terrain et, en cas de découverte fortuite, à l'inventeur. 
                            Si, à l'issue d'un délai d'un an à compter de cette notification, le propriétaire et, en cas de découverte fortuite, 
                            l'inventeur n'ont pas fait valoir leurs droits, une nouvelle notification leur est adressée dans les mêmes formes.
                            <br>
                            Si, à l'issue d'un délai d'un an à compter de cette nouvelle notification, le propriétaire et, 
                            en cas de découverte fortuite, l'inventeur n'ont pas fait valoir leurs droits, 
                            la propriété des biens archéologiques mobiliers mis au jour est transférée à titre gratuit à l'Etat.
                            <br>
                            Chacune des notifications adressées au propriétaire et, le cas échéant, 
                            à l'inventeur comporte la mention du délai dont il dispose pour faire valoir ses droits 
                            et précise les conséquences juridiques qui s'attachent à son inaction dans ce délai.
                            <br>
                            Lorsque seul l'un des deux a fait valoir ses droits, 
                            les biens archéologiques mobiliers sont partagés entre l'Etat et celui-ci, 
                            selon les règles de droit commun.
                            <br>
                            Les biens qui sont restitués à leur propriétaire à l'issue de leur étude scientifique 
                            peuvent faire l'objet de prescriptions destinées à assurer leur bonne conservation 
                            et leur accès par les services de l'Etat. 
                            Les sujétions anormales qui peuvent en résulter sont compensées par une indemnité. 
                            A défaut d'accord amiable, l'action en indemnité est portée devant le juge judiciaire.
                        </p>
                        <h2>
                            Article L 541-6 du Code du Patrimoine :
                        </h2>
                        <p>
                            Lorsque les biens archéologiques mobiliers mis au jour constituent un ensemble cohérent 
                            dont l'intérêt scientifique justifie la conservation dans son intégrité, 
                            l'autorité administrative reconnaît celui-ci comme tel. 
                            Cette reconnaissance est notifiée au propriétaire.
                            <br>
                            Toute aliénation à titre onéreux ou gratuit d'un bien archéologique mobilier 
                            ou d'un ensemble n'appartenant pas à l'Etat reconnu comme cohérent sur le plan scientifique en application du premier alinéa, 
                            ainsi que toute division par lot ou pièce d'un tel ensemble, 
                            est soumise à déclaration préalable auprès des services de l'Etat chargés de l'archéologie.
                        </p>
                        <h2>
                            Article L 542-1 du Code du Patrimoine :
                        </h2>
                        <p>
                            Nul ne peut utiliser du matériel permettant la détection d'objets métalliques, 
                            à l'effet de recherches de monuments et d'objets pouvant intéresser la préhistoire, 
                            l'histoire, l'art ou l'archéologie sans avoir, au préalable, 
                            obtenu une autorisation administrative délivrée en fonction de la qualification du demandeur ainsi que de la nature 
                            et des modalités de la recherche.
                        </p>
                        <h2>
                            Article L 544-1 du Code du Patrimoine :
                        </h2>
                        <p>
                            Est puni d'une amende de 7 500 euros le fait, pour toute personne, de réaliser, 
                            sur un terrain lui appartenant ou appartenant à autrui, 
                            des fouilles ou des sondages à l'effet de recherches de monument ou d'objet pouvant intéresser la préhistoire, 
                            l'histoire, l'art ou l'archéologie :
                            <br>
                            a) Sans avoir obtenu l'autorisation prévue aux articles L. 531-1 ou L. 531-15 ;
                            <br>
                            b) Sans se conformer aux prescriptions de cette autorisation ;
                            <br>
                            c) Malgré le retrait de l'autorisation de fouille en application des dispositions de l'article L. 531-6.
                        </p>
                        <h2>
                            Article L 544-2 du Code du Patrimoine :
                        </h2>
                        <p>
                            Est puni d'une amende de 7 500 Euros le fait, 
                            pour toute personne ayant demandé et obtenu l'autorisation de réaliser des fouilles ou des sondages, 
                            de ne pas les réaliser elle-même en violation de l'article L. 531-3 ou d'enfreindre l'obligation de déclaration 
                            et de conservation prévue à ce même article.
                        </p>
                        <h2>
                            Article L 544-3 du Code du Patrimoine :
                        </h2>
                        <p>
                            Le fait, pour toute personne, d'enfreindre l'obligation de déclaration prévue à l'article L. 531-14 
                            ou de faire une fausse déclaration est puni d'une amende de 3 750 euros.
                        </p>
                        <h2>
                            Article L 544-4 du Code du Patrimoine :
                        </h2>
                        <p>
                            Le fait, pour toute personne, d'aliéner ou d'acquérir tout objet découvert en violation des articles 
                            L. 531-1, L. 531-6 et L. 531-15 ou dissimulé en violation des articles L. 531-3 et L. 531-14 
                            est puni d'un emprisonnement de deux ans et d'une amende de 4 500 euros. 
                            Le montant de l'amende peut être porté au double du prix de la vente du bien.

                            La juridiction peut, en outre, ordonner la diffusion de sa décision dans les conditions prévues par l'article 131-35 du code pénal.
                        </p>
                        <h2>
                            Article L 544-4-1 du Code du Patrimoine :
                        </h2>
                        <p>
                            Est puni de 3 750 € d'amende le fait, pour toute personne, 
                            d'aliéner un bien archéologique mobilier ou de diviser ou aliéner par lot ou pièce 
                            un ensemble de biens archéologiques mobiliers reconnu comme cohérent sur le plan scientifique 
                            sans avoir préalablement établi la déclaration mentionnée à l'article L. 541-6.
                        </p>


                        <h2>
                            Article R542-1 du Code du Patrimoine :
                        </h2>
                        <p>
                            L'autorisation d'utiliser du matériel permettant la détection d'objets métalliques, 
                            prévue à l'article L. 542-1, est accordée, sur demande de l'intéressé, 
                            par arrêté du préfet de la région dans laquelle est situé le terrain à prospecter.
                            <br>
                            La demande d'autorisation précise l'identité, les compétences et l'expérience de son auteur ainsi que la localisation, 
                            l'objectif scientifique et la durée des prospections à entreprendre.
                            <br>
                            Lorsque les prospections doivent être effectuées sur un terrain n'appartenant pas à l'auteur de la demande, 
                            ce dernier doit joindre à son dossier le consentement écrit du propriétaire du terrain et, s'il y a lieu, 
                            celui de tout autre ayant droit.
                        </p>
                        <h2>
                            Article R542-2 du Code du Patrimoine :
                        </h2>
                        <p>
                            L'arrêté accordant l'autorisation fixe les conditions selon lesquelles les prospections devront être conduites.
                            <br>
                            Lorsque le titulaire d'une autorisation n'en respecte pas les prescriptions, 
                            le préfet de région prononce le retrait de l'autorisation.
                        </p>
                        <h2>
                            Article R 544-3 du Code du Patrimoine :
                        </h2>
                        <p>
                            Quiconque utilise, à l'effet de recherches mentionnées à l'article L. 542-1, 
                            du matériel permettant la détection d'objets métalliques sans avoir obtenu l'autorisation prévue à l'article R. 542-1 
                            ou sans avoir respecté les prescriptions de cette autorisation 
                            est puni de la peine d'amende applicable aux contraventions de la 5e classe.
                        </p>


                        <h2>
                            Article L 113-4 du Code de la construction et de l'habitation :
                        </h2>
                        <p>
                            Toute mise au jour d'éléments du patrimoine archéologique, au sens de l'article L. 510-1 du code du patrimoine, 
                            faisant suite à des travaux ou un fait quelconque oblige l'inventeur de ces vestiges ou objets 
                            et le propriétaire du bâtiment où ils ont été découverts à déclarer la découverte 
                            dans les conditions prévues par l'article L. 531-14 du code du patrimoine.
                        </p>


                        <h2>
                            Article 552 du Code Civil :
                        </h2>
                        <p>
                            La propriété du sol emporte la propriété du dessus et du dessous.
                            <br>
                            Le propriétaire peut faire au-dessus toutes les plantations et constructions qu'il juge à propos, 
                            sauf les exceptions établies au titre " Des servitudes ou services fonciers ".
                            <br>
                            Il peut faire au-dessous toutes les constructions et fouilles qu'il jugera à propos, 
                            et tirer de ces fouilles tous les produits qu'elles peuvent fournir, 
                            sauf les modifications résultant des lois et règlements relatifs aux mines, et des lois et règlements de police.
                        </p>
                        <h2>
                            Article 716 du Code Civil :
                        </h2>
                        <p>
                            La propriété d'un trésor appartient à celui qui le trouve dans son propre fonds ; 
                            si le trésor est trouvé dans le fonds d'autrui, il appartient pour moitié à celui qui l'a découvert, 
                            et pour l'autre moitié au propriétaire du fonds.
                            <br>
                            Le trésor est toute chose cachée ou enfouie sur laquelle personne ne peut justifier sa propriété, 
                            et qui est découverte par le pur effet du hasard.
                        </p>


                        <h2>
                            Article 322-3-1 du Code Pénal :
                        </h2>
                        <p>
                            La destruction, la dégradation ou la détérioration est punie de sept ans d'emprisonnement 
                            et de 100 000 € d'amende lorsqu'elle porte sur :
                            <br>
                            1° Un immeuble ou objet mobilier classé ou inscrit en application des dispositions du code du patrimoine 
                            ou un document d'archives privées classé en application des dispositions du même code ;
                            <br>
                            2° Le patrimoine archéologique, au sens de l'article L. 510-1 du code du patrimoine ;
                            <br>
                            3° Un bien culturel qui relève du domaine public mobilier ou qui est exposé, conservé ou déposé, même de façon temporaire, 
                            soit dans un musée de France, une bibliothèque, une médiathèque ou un service d'archives, 
                            soit dans un lieu dépendant d'une personne publique ou d'une personne privée assurant une mission d'intérêt général, 
                            soit dans un édifice affecté au culte ;
                            <br>
                            4° Un édifice affecté au culte.
                            <br>
                            Les peines sont portées à dix ans d'emprisonnement et 150 000 € d'amende lorsque l'infraction prévue au présent article 
                            est commise avec la circonstance prévue au 1° de l'article 322-3.
                            <br>
                            Les peines d'amende mentionnées au présent article peuvent être élevées jusqu'à la moitié de la valeur du bien détruit, 
                            dégradé ou détérioré.
                        </p>
                        <h2>
                            Article 322-3-2 du Code Pénal :
                        </h2>
                        <p>
                            Est puni de sept ans d'emprisonnement et de 100 000 € d'amende le fait d'importer, d'exporter, de faire transiter, de transporter, 
                            de détenir, de vendre, d'acquérir ou d'échanger un bien culturel présentant un intérêt archéologique, artistique, 
                            historique ou scientifique en sachant que ce bien a été soustrait d'un territoire qui constituait, au moment de la soustraction, 
                            un théâtre d'opérations de groupements terroristes et sans pouvoir justifier la licéité de l'origine de ce bien.
                            <br>
                            Les peines sont portées à dix ans d'emprisonnement et à 150 000 € d'amende lorsque l'infraction prévue au présent article 
                            est commise avec la circonstance mentionnée au 1° de l'article 322-3.
                        </p>

                        <label for="IdLoi" class="Ligne">
                            <input type="checkbox" name="loi" class="StyleCheckboxInput" id="IdLoi" value="true" required>
                            Je consent avoir pris connaissance des articles mentionnés ci-dessus
                        </label>
                        <input type="button" class="Boutons" value="Valider" onclick="setStorage()">
                    </form
                </main>
            </body>
    </html>
