{% extends 'base.html.twig' %}

{% block title %}test{% endblock %}

{% block body %}

    <p>
        {% for k in info %}
            {% for j in k %}
                {% for i in j %}
                    {{i}}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </p>

{% endblock %}
