{% extends 'base.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block body %}
    <div class="error">
        <h1>
            Erreur<br>
            Cette page n'existe pas !
        </h1>
        <a href="{{ path('app_home') }}">Retour à la page d'Accueil</a>
    </div>
{% endblock %}
